html {
  font-family: "Lato", sans-serif;
}

.img-container {
  background-image: url("../images/photo-1546146830-2cca9512c68e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 720px;
  width: 100%;
}
.img-container .name {
  padding-top: 25%;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.img-container .name h1 {
  font-size: 3em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main {
  font-family: "Roboto", sans-serif;
}
main h1, main h2, main h5 {
  font-family: "Odibee Sans", cursive;
}
main section {
  padding-top: 10%;
}
main section h1 {
  padding-bottom: 5%;
}
main #experiences .experience {
  padding-top: 5%;
}
main #contact {
  font-size: 25px;
}
main #contact h1 {
  text-align: center;
}

h2 {
  line-height: 1.5;
}

.images {
  border-radius: 50px;
}

.info {
  padding-top: 5%;
}

.text-experience {
  text-align: right;
}

#footer {
  text-align: center;
  padding-top: 5%;
}
#footer img {
  width: 30px;
}

#about-me h1, #experiences h1, #education h1, #contact h1 {
  color: #002a72;
}

/*# sourceMappingURL=styles.css.map */
